/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================
   Base styles: opinionated defaults
   ============================================= */
/* line 13, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
html,
button,
button.major-button,
.major-button button,
input.major-button,
.major-button input,
button.minor-button,
.minor-button button,
input.minor-button,
.minor-button input,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 60, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 71, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
textarea {
  resize: vertical;
}

/* =============================================
   Browse Happy prompt
   ============================================= */
/* line 89, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =============================================
   Helper classes
   ============================================= */
/*
 * Image replacement
 */
/* line 104, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 112, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 123, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 132, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 148, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 162, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 178, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 184, ../sass/foundation/vendor/_html5-boilerplate-base.scss */
.clearfix:after {
  clear: both;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
/* line 13, ../sass/foundation/vendor/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 27, ../sass/foundation/vendor/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 35, ../sass/foundation/vendor/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 49, ../sass/foundation/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 62, ../sass/foundation/vendor/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 72, ../sass/foundation/vendor/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 81, ../sass/foundation/vendor/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 92, ../sass/foundation/vendor/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 105, ../sass/foundation/vendor/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 115, ../sass/foundation/vendor/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 125, ../sass/foundation/vendor/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 135, ../sass/foundation/vendor/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 144, ../sass/foundation/vendor/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 154, ../sass/foundation/vendor/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 165, ../sass/foundation/vendor/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 173, ../sass/foundation/vendor/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 182, ../sass/foundation/vendor/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 191, ../sass/foundation/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 199, ../sass/foundation/vendor/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 203, ../sass/foundation/vendor/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 214, ../sass/foundation/vendor/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 223, ../sass/foundation/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 232, ../sass/foundation/vendor/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 240, ../sass/foundation/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 252, ../sass/foundation/vendor/_normalize.scss */
button, button.major-button, .major-button button,
input.major-button, .major-button
input, button.minor-button, .minor-button button,
input.minor-button, .minor-button
input,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 268, ../sass/foundation/vendor/_normalize.scss */
button, button.major-button, .major-button button,
input.major-button, .major-button
input, button.minor-button, .minor-button button,
input.minor-button, .minor-button
input,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 278, ../sass/foundation/vendor/_normalize.scss */
button, button.major-button, .major-button button,
input.major-button, .major-button
input, button.minor-button, .minor-button button,
input.minor-button, .minor-button
input,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
/* line 300, ../sass/foundation/vendor/_normalize.scss */
button::-moz-focus-inner, button.major-button::-moz-focus-inner, .major-button button::-moz-focus-inner,
input.major-button::-moz-focus-inner, .major-button
input::-moz-focus-inner, button.minor-button::-moz-focus-inner, .minor-button button::-moz-focus-inner,
input.minor-button::-moz-focus-inner, .minor-button
input::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 312, ../sass/foundation/vendor/_normalize.scss */
button:-moz-focusring,
input.major-button:-moz-focusring, .major-button
input:-moz-focusring,
input.minor-button:-moz-focusring, .minor-button
input:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 323, ../sass/foundation/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 336, ../sass/foundation/vendor/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 350, ../sass/foundation/vendor/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, ../sass/foundation/vendor/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 368, ../sass/foundation/vendor/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 378, ../sass/foundation/vendor/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, ../sass/foundation/vendor/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 397, ../sass/foundation/vendor/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 407, ../sass/foundation/vendor/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 420, ../sass/foundation/vendor/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 429, ../sass/foundation/vendor/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 440, ../sass/foundation/vendor/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 448, ../sass/foundation/vendor/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 459, ../sass/foundation/vendor/_normalize.scss */
[hidden] {
  display: none;
}

@-ms-viewport {
  width: device-width;
  zoom: 1;
}
@viewport {
  width: device-width;
  zoom: 1;
}
@font-face {
  font-family: "barlow";
  src: url('../fonts/barlowcondensed-semibold.woff?1520134530') format("woff"), url('../fonts/barlowcondensed-semibold.ttf?1508994000') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "barlow";
  src: url('../fonts/barlowcondensed-regular.woff?1520134530') format("woff"), url('../fonts/barlowcondensed-regular.ttf?1508994000') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlow";
  src: url('../fonts/barlowcondensed-italic.woff?1520134530') format("woff"), url('../fonts/barlowcondensed-italic.ttf?1508994000') format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url('../fonts/robotoslab-regular.woff?1520114804') format("woff"), url('../fonts/robotoslab-regular.ttf?1365570000') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url('../fonts/robotoslab-light.woff?1520114804') format("woff"), url('../fonts/robotoslab-light.ttf?1365570000') format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url('../fonts/robotoslab-bold.woff?1520114804') format("woff"), url('../fonts/robotoslab-bold.ttf?1365570000') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.woff?1520455948') format("woff"), url('../fonts/icomoon.ttf?1520455948') format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 95, ../sass/foundation/_settings.scss */
.mob-hide {
  display: none;
}
@media (min-width: 48em) {
  /* line 95, ../sass/foundation/_settings.scss */
  .mob-hide {
    display: inline-block;
  }
}

/* line 104, ../sass/foundation/_settings.scss */
.main_post {
  width: 90%;
  margin: auto;
  border: 1px solid white;
  border-radius: .75em;
}
@media (min-width: 56.25em) {
  /* line 104, ../sass/foundation/_settings.scss */
  .main_post {
    padding: 3em 2em 2em 2em;
  }
}

@keyframes headerHeight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 158, ../sass/foundation/_settings.scss */
.fixed-nav-js {
  padding: 1em !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 1000000000 !important;
  animation: headerHeight 1s;
}

/* line 167, ../sass/foundation/_settings.scss */
.translateItemIn {
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) !important;
  transform: translate(0rem, 0px) !important;
}

/* line 173, ../sass/foundation/_settings.scss */
.headerLogo {
  text-indent: -999rem;
  position: relative;
  padding: 0;
}
/* line 177, ../sass/foundation/_settings.scss */
.headerLogo:before {
  content: "";
  position: absolute;
  left: 0;
  right: 79%;
  top: 0;
  height: 2.25em;
  margin: auto;
  background: url("../img/r-secondary_fabo_logo-b.svg") no-repeat center center;
  background-size: contain;
}

/* line 193, ../sass/foundation/_settings.scss */
.video-wrapper {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  padding-top: 56%;
}
/* line 199, ../sass/foundation/_settings.scss */
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 9, ../sass/foundation/global/_type.scss */
*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 20, ../sass/foundation/global/_type.scss */
body {
  line-height: 1.4;
  font-family: "barlow", Arial, sans-serif;
}

/* line 29, ../sass/foundation/global/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1em 0 1rem 0;
  line-height: 1.2;
  font-family: "Roboto-Slab", serif;
  font-weight: bold;
}

/* line 41, ../sass/foundation/global/_type.scss */
h1,
h2 {
  font-size: 1.5rem;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 41, ../sass/foundation/global/_type.scss */
  h1,
  h2 {
    font-size: calc( 1.5rem + (2.125 - 1.5) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 41, ../sass/foundation/global/_type.scss */
  h1,
  h2 {
    font-size: 2.125rem;
  }
}

/* line 46, ../sass/foundation/global/_type.scss */
h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 300;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 46, ../sass/foundation/global/_type.scss */
  h3 {
    font-size: calc( 1.5rem + (2 - 1.5) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 46, ../sass/foundation/global/_type.scss */
  h3 {
    font-size: 2rem;
  }
}

/* line 52, ../sass/foundation/global/_type.scss */
h4 {
  font-size: 1.25rem;
  margin-bottom: 0;
  font-weight: 300;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 52, ../sass/foundation/global/_type.scss */
  h4 {
    font-size: calc( 1.25rem + (1.6 - 1.25) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 52, ../sass/foundation/global/_type.scss */
  h4 {
    font-size: 1.6rem;
  }
}

/* line 58, ../sass/foundation/global/_type.scss */
h5 {
  font-size: 1rem;
  margin-bottom: 0;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 58, ../sass/foundation/global/_type.scss */
  h5 {
    font-size: calc( 1rem + (1.25 - 1) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 58, ../sass/foundation/global/_type.scss */
  h5 {
    font-size: 1.25rem;
  }
}

/* line 71, ../sass/foundation/global/_type.scss */
p,
ul,
ol,
blockquote,
address {
  margin: 1rem 0;
  font-style: normal;
}

/* line 83, ../sass/foundation/global/_type.scss */
ul li,
ol li {
  list-style-type: none;
}

/* line 96, ../sass/foundation/global/_type.scss */
small {
  font-size: 0.875em;
  font-style: italic;
}

/* line 10, ../sass/foundation/global/_buttons.scss */
button, button.major-button, .major-button button,
input.major-button, .major-button
input, button.minor-button, .minor-button button,
input.minor-button, .minor-button
input,
button a,
button.major-button a,
.major-button button a,
input.major-button a,
.major-button input a,
button.minor-button a,
.minor-button button a,
input.minor-button a,
.minor-button input a,
input[type=button], button.button, .button button,
input.button, .button
input {
  display: block;
  width: 100%;
  padding: 0.75em 1.25em;
  margin-top: .5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 0;
  border-radius: .5rem;
  outline: 0;
  background: #002a5d;
  font-size: 1rem;
  box-shadow: 0px 6px 13px -4px rgba(0, 0, 0, 0.39);
  line-height: 1.2;
  font-family: "Roboto-Slab", serif;
  transition: all 0.5s ease;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 10, ../sass/foundation/global/_buttons.scss */
  button, button.major-button, .major-button button,
  input.major-button, .major-button
  input, button.minor-button, .minor-button button,
  input.minor-button, .minor-button
  input,
  button a,
  button.major-button a,
  .major-button button a,
  input.major-button a,
  .major-button input a,
  button.minor-button a,
  .minor-button button a,
  input.minor-button a,
  .minor-button input a,
  input[type=button], button.button, .button button,
  input.button, .button
  input {
    font-size: calc( 1rem + (1.125 - 1) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 10, ../sass/foundation/global/_buttons.scss */
  button, button.major-button, .major-button button,
  input.major-button, .major-button
  input, button.minor-button, .minor-button button,
  input.minor-button, .minor-button
  input,
  button a,
  button.major-button a,
  .major-button button a,
  input.major-button a,
  .major-button input a,
  button.minor-button a,
  .minor-button button a,
  input.minor-button a,
  .minor-button input a,
  input[type=button], button.button, .button button,
  input.button, .button
  input {
    font-size: 1.125rem;
  }
}
@media (min-width: 37.5em) {
  /* line 10, ../sass/foundation/global/_buttons.scss */
  button, button.major-button, .major-button button,
  input.major-button, .major-button
  input, button.minor-button, .minor-button button,
  input.minor-button, .minor-button
  input,
  button a,
  button.major-button a,
  .major-button button a,
  input.major-button a,
  .major-button input a,
  button.minor-button a,
  .minor-button button a,
  input.minor-button a,
  .minor-button input a,
  input[type=button], button.button, .button button,
  input.button, .button
  input {
    display: inline-block;
    width: auto;
  }
}

/* line 43, ../sass/foundation/global/_buttons.scss */
button.major-button,
input.major-button, .major-button button, .major-button input {
  background: #bc112e;
  background-image: linear-gradient(180deg, #f12d4d 25%, #bc112e 100%);
  padding: 1.25em;
  border-radius: 3em;
  font-weight: bold;
}
/* line 51, ../sass/foundation/global/_buttons.scss */
button.major-button:hover,
input.major-button:hover, .major-button button:hover, .major-button input:hover, button.major-button:focus,
input.major-button:focus, .major-button button:focus, .major-button input:focus {
  background-color: #cc0033;
  background-image: linear-gradient(180deg, #cc0033 25%, #8a0024 100%);
}
@media (min-width: 37.5em) {
  /* line 43, ../sass/foundation/global/_buttons.scss */
  button.major-button,
  input.major-button, .major-button button, .major-button input {
    padding: 1.25em 3em 1.25em 3em;
  }
}

/* line 65, ../sass/foundation/global/_buttons.scss */
button.minor-button,
input.minor-button, .minor-button button, .minor-button input {
  padding: 1.125em;
  background: none;
  border: 1px solid #73d4f8;
  box-shadow: -1px 7px 20px 2px rgba(0, 0, 0, 0.39);
}
/* line 72, ../sass/foundation/global/_buttons.scss */
button.minor-button:hover,
input.minor-button:hover, .minor-button button:hover, .minor-button input:hover, button.minor-button:focus,
input.minor-button:focus, .minor-button button:focus, .minor-button input:focus {
  font-weight: bold;
  background-color: #68cbf0;
  background-image: linear-gradient(180deg, #68cbf0 12%, #25b9f0 50%, #009cd6 100%);
}

/* line 9, ../sass/foundation/global/_layout.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 15, ../sass/foundation/global/_layout.scss */
body {
  background-color: #002a5d;
  background-image: linear-gradient(180deg, #002a5d 0%, #235d87 50%, #1b2656 100%);
}

/* line 22, ../sass/foundation/global/_layout.scss */
body.event_page {
  height: 100%;
  position: relative;
  background: url("../img/small_header_bk_images.jpg") no-repeat center center, #002a5d;
  background-size: contain;
  background-position: 0 50px;
  z-index: 1;
}
/* line 30, ../sass/foundation/global/_layout.scss */
body.event_page:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(255, 0, 0, 0) 55%, #ff0000 120%);
  background-attachment: fixed;
  z-index: -2;
}
@media (min-width: 37.5em) {
  /* line 22, ../sass/foundation/global/_layout.scss */
  body.event_page {
    background: #002a5d;
  }
  /* line 45, ../sass/foundation/global/_layout.scss */
  body.event_page:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 78em;
    height: 100%;
    background: url("../img/med_dunking_image.jpg") no-repeat center center, #002a5d;
    background-size: 100%;
    background-position: 0 50px;
    z-index: -2;
  }
}
@media (min-width: 56.25em) {
  /* line 60, ../sass/foundation/global/_layout.scss */
  body.event_page:before {
    background: url("../img/header_bk_image.jpg") no-repeat center center;
    background-size: 100%;
    background-position: 0 49px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

/* line 73, ../sass/foundation/global/_layout.scss */
body.homepage {
  background: url("../img/home_top_image.png") no-repeat center center, linear-gradient(180deg, #064188 0%, #002b5c 50%, #1b2656 100%);
  background-attachment: fixed;
  background-position: 56% 0;
}
@media (min-width: 37.5em) {
  /* line 73, ../sass/foundation/global/_layout.scss */
  body.homepage {
    background-size: cover;
  }
}
/* line 81, ../sass/foundation/global/_layout.scss */
body.homepage:after, body.homepage:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(255, 0, 0, 0) 14%, #ff0000 118%);
  z-index: -2;
}
/* line 93, ../sass/foundation/global/_layout.scss */
body.homepage:before {
  display: none;
}
@media (min-width: 64em) {
  /* line 93, ../sass/foundation/global/_layout.scss */
  body.homepage:before {
    display: block;
    background: url("../img/basketball_bkg.png") no-repeat center center;
    opacity: .2;
    background-attachment: fixed;
    background-position: 50px 5%;
    background-size: cover;
  }
}

/* line 110, ../sass/foundation/global/_layout.scss */
.nav-link {
  color: #002a5d;
}
/* line 113, ../sass/foundation/global/_layout.scss */
.nav-link:hover, .nav-link:focus {
  color: #790014;
}

/* line 119, ../sass/foundation/global/_layout.scss */
.dropdown-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #e8f2f5;
  border-radius: 0;
  margin: 0;
  border: 1px solid #b0c5cb;
  box-shadow: -1px 9px 6px -5px rgba(0, 43, 92, 0.2);
}
/* line 131, ../sass/foundation/global/_layout.scss */
.dropdown-content .dropdown-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 7.33vh;
  transform: translate(-999rem, 0px);
  border: 1px solid lightblue;
  border-radius: .25em;
  margin: 0.25em;
  padding: 1em 0;
  width: initial;
}
/* line 143, ../sass/foundation/global/_layout.scss */
.dropdown-content .dropdown-item:nth-child(odd) {
  background: #ddeef3;
}
/* line 147, ../sass/foundation/global/_layout.scss */
.dropdown-content .dropdown-item:hover, .dropdown-content .dropdown-item:focus {
  background: #f9f9f9;
}
@media (min-width: 56.25em) {
  /* line 131, ../sass/foundation/global/_layout.scss */
  .dropdown-content .dropdown-item {
    width: 100%;
  }
}

/* line 162, ../sass/foundation/global/_layout.scss */
.center {
  width: 90%;
  max-width: 56.25em;
  margin: auto;
}

/* line 366, ../sass/foundation/vendor/_royall.scss */
body {
  position: relative;
}
/* line 371, ../sass/foundation/vendor/_royall.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}
/* line 379, ../sass/foundation/vendor/_royall.scss */
body > * {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* line 383, ../sass/foundation/vendor/_royall.scss */
.page_wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* line 175, ../sass/foundation/global/_layout.scss */
.header_wrapper {
  position: relative;
  background: white;
  padding: 2em;
  box-shadow: -1px 7px 20px 2px rgba(0, 0, 0, 0.39);
  z-index: 800;
}
/* line 181, ../sass/foundation/global/_layout.scss */
.header_wrapper header h1 {
  text-indent: -999em;
  margin: 0;
  position: absolute;
  content: " ";
  top: 20px;
  left: 0;
  width: 100%;
  height: calc(5em - 2.5em);
  background: url("../img/r-secondary_fabo_logo.svg") no-repeat center center;
  background-size: contain;
  font-size: 1.125rem;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 181, ../sass/foundation/global/_layout.scss */
  .header_wrapper header h1 {
    font-size: calc( 1.125rem + (1.25 - 1.125) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 181, ../sass/foundation/global/_layout.scss */
  .header_wrapper header h1 {
    font-size: 1.25rem;
  }
}

/* line 189, ../sass/foundation/global/_layout.scss */
#homeBtn {
  padding: 0;
  text-indent: -999rem;
}

/* line 194, ../sass/foundation/global/_layout.scss */
.footer_wrapper {
  border-top: 15px solid rgba(0, 12, 45, 0.2);
  position: relative;
}
/* line 198, ../sass/foundation/global/_layout.scss */
.footer_wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 17px;
  width: 100%;
  height: 8em;
  margin: auto;
  background: url("../img/footer_fabo_logo.svg") no-repeat center center;
  background-size: contain;
}
@media (min-width: 37.5em) {
  /* line 212, ../sass/foundation/global/_layout.scss */
  .footer_wrapper:before {
    top: 47px;
  }
}
/* line 217, ../sass/foundation/global/_layout.scss */
.footer_wrapper footer {
  padding: 1em;
  max-width: 61em;
  margin: auto;
  padding: 9em 1em 1em;
}
/* line 221, ../sass/foundation/global/_layout.scss */
.footer_wrapper footer p {
  padding: 0;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 0.938em;
}
/* line 228, ../sass/foundation/global/_layout.scss */
.footer_wrapper footer .footer_addy_name, .footer_wrapper footer .contact {
  color: #000c2d;
  font-family: "Roboto-Slab", serif;
  text-decoration: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 228, ../sass/foundation/global/_layout.scss */
  .footer_wrapper footer .footer_addy_name, .footer_wrapper footer .contact {
    font-size: calc( 1.25rem + (1.6 - 1.25) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 228, ../sass/foundation/global/_layout.scss */
  .footer_wrapper footer .footer_addy_name, .footer_wrapper footer .contact {
    font-size: 1.6rem;
  }
}
@media (min-width: 37.5em) {
  /* line 217, ../sass/foundation/global/_layout.scss */
  .footer_wrapper footer {
    padding: 3em 1em 3em;
  }
  /* line 238, ../sass/foundation/global/_layout.scss */
  .footer_wrapper footer address {
    display: flex;
    justify-content: space-between;
  }
  /* line 242, ../sass/foundation/global/_layout.scss */
  .footer_wrapper footer address .left_footer p {
    text-align: left;
  }
  /* line 245, ../sass/foundation/global/_layout.scss */
  .footer_wrapper footer address .right_footer p {
    text-align: right;
  }
}

/* line 254, ../sass/foundation/global/_layout.scss */
.form-control {
  border-radius: 0;
  padding: .75rem;
}

/* line 259, ../sass/foundation/global/_layout.scss */
.showMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 56.25em) {
  /* line 259, ../sass/foundation/global/_layout.scss */
  .showMenu {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

/* line 5, ../sass/about-page.scss */
.main_about_page {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 0, 0, 0) -17%, #032b5b 100%), url("../img/about-image.png");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 50% 4%;
}
@media (min-width: 37.5em) {
  /* line 5, ../sass/about-page.scss */
  .main_about_page {
    background-size: 100%;
    background-attachment: fixed;
  }
}
/* line 20, ../sass/about-page.scss */
.main_about_page:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(255, 0, 0, 0) 55%, #ff0000 120%);
  background-attachment: fixed;
  z-index: -2;
}

/* line 35, ../sass/about-page.scss */
.page_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 38, ../sass/about-page.scss */
.page_wrapper .about_section {
  margin: 11vh auto;
}
/* line 40, ../sass/about-page.scss */
.page_wrapper .about_section h4 {
  color: white;
  text-align: center;
  font-family: "Roboto-Slab", serif;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 40, ../sass/about-page.scss */
  .page_wrapper .about_section h4 {
    font-size: calc( 2rem + (3 - 2) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 40, ../sass/about-page.scss */
  .page_wrapper .about_section h4 {
    font-size: 3rem;
  }
}

/* line 58, ../sass/about-page.scss */
.about_wrapper {
  position: relative;
}
/* line 60, ../sass/about-page.scss */
.about_wrapper:after {
  transition: all 0.5s ease;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  margin: auto;
  background: red;
  background-size: contain;
  z-index: -1;
}
@media (min-width: 48em) {
  /* line 60, ../sass/about-page.scss */
  .about_wrapper:after {
    top: 30px;
    left: -28px;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
  }
}

/* line 89, ../sass/about-page.scss */
.main_post {
  padding: 1em;
  max-width: 61em;
  margin: auto;
  padding: 0;
  max-width: 37em;
  border-radius: 0;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
  background: url("../img/tran_footer_logo.png") no-repeat center center, white;
  background-size: 55%;
}
/* line 100, ../sass/about-page.scss */
.main_post .main-post-header, .main_post .main-post-content {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 1em;
}
/* line 106, ../sass/about-page.scss */
.main_post .main-post-header h3, .main_post .main-post-content h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 106, ../sass/about-page.scss */
  .main_post .main-post-header h3, .main_post .main-post-content h3 {
    font-size: calc( 1rem + (1.5 - 1) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 106, ../sass/about-page.scss */
  .main_post .main-post-header h3, .main_post .main-post-content h3 {
    font-size: 1.5rem;
  }
}
/* line 114, ../sass/about-page.scss */
.main_post p {
  padding: 6% 11% 34%;
  font-size: 1rem;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 114, ../sass/about-page.scss */
  .main_post p {
    font-size: calc( 1rem + (1.25 - 1) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 114, ../sass/about-page.scss */
  .main_post p {
    font-size: 1.25rem;
  }
}
/* line 119, ../sass/about-page.scss */
.main_post .main-post-header {
  padding-top: 8%;
}
/* line 121, ../sass/about-page.scss */
.main_post .main-post-header h3 {
  text-indent: -999em;
  position: relative;
  margin: 0;
  text-indent: -999rem;
  width: 100%;
  max-width: 5em;
  margin: auto;
  font-size: 2.25rem;
  background: url("../img/footer_fabo_logo.svg") no-repeat center center;
  background-size: contain;
  font-size: 5rem;
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 121, ../sass/about-page.scss */
  .main_post .main-post-header h3 {
    font-size: calc( 2.25rem + (3 - 2.25) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 121, ../sass/about-page.scss */
  .main_post .main-post-header h3 {
    font-size: 3rem;
  }
}
@media (min-width: 20rem) and (max-width: 75rem) {
  /* line 121, ../sass/about-page.scss */
  .main_post .main-post-header h3 {
    font-size: calc( 5rem + (6 - 5) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}
@media (min-width: 75rem) {
  /* line 121, ../sass/about-page.scss */
  .main_post .main-post-header h3 {
    font-size: 6rem;
  }
}
@media (min-width: 48em) {
  /* line 89, ../sass/about-page.scss */
  .main_post {
    width: 100%;
  }
  /* line 133, ../sass/about-page.scss */
  .main_post .main_title {
    display: none;
  }
  /* line 136, ../sass/about-page.scss */
  .main_post .main-post-header {
    flex: 1 1 42%;
  }
  /* line 139, ../sass/about-page.scss */
  .main_post .main-post-content {
    flex: 0 1 60%;
    margin-right: 2em;
  }
  /* line 142, ../sass/about-page.scss */
  .main_post .main-post-content h3 {
    color: #cc0033;
  }
}

/* line 154, ../sass/about-page.scss */
.our-staff-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 156, ../sass/about-page.scss */
.our-staff-section .our-staff-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  max-width: 64em;
  margin: 1% 2%;
}
@media (min-width: 37.5em) {
  /* line 156, ../sass/about-page.scss */
  .our-staff-section .our-staff-wrapper {
    margin: auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
/* line 169, ../sass/about-page.scss */
.our-staff-section .our-staff-wrapper .staff-container {
  margin: 2% 1%;
}
@media (min-width: 37.5em) {
  /* line 169, ../sass/about-page.scss */
  .our-staff-section .our-staff-wrapper .staff-container {
    width: 31.33%;
  }
}
/* line 175, ../sass/about-page.scss */
.our-staff-section .our-staff-wrapper .staff-container .staff-wrapper {
  width: 100%;
  padding: 12% 5%;
  background: white;
  display: inline-block;
}
